{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}Update Profile -
{% endblock %}

{% block hero %}
    <header>
        <div class="inner text-center">
            <h2>Update Profile</h2>
            <p>Update your details</p>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div id="profile-update" class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12">
                {% crispy form %}
        </div>
    </div>
{% endblock %}
