{% extends "account/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{{page.title}}{% endblock %}

{% block hero %}
    <header>
        <div class="inner text-center">
            <h2>{{page.header}}</h2>
            <p>{{page.description}}</p>
        </div>
    </header>
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'newswire/cp/plugins/datepicker/datepicker3.css' %}">
    <script src="{% static 'newswire/cp/plugins/datepicker/bootstrap-datepicker.js' %}"></script>
    <div id="update-form" class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12">
            {% crispy form %}
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('.dateinput').datepicker({format: "yyyy-mm-dd"});
        });
    </script>
{% endblock %}
