-i https://pypi.org/simple/
cairocffi==1.1.0
cairosvg==2.4.2 ; python_version >= '3.0'
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cssselect2==0.2.2
defusedxml==0.6.0
diff-match-patch==20181111
django-allauth==0.39.1
django-bootstrap3==11.0.0
django-constance==1.3.4
django-crispy-forms==1.7.2
django-import-export==0.7.0
django-paintstore==0.2
django-picklefield==0.3.2
django-suit==0.2.26
django-widget-tweaks==1.4.5
django==2.2.10
gunicorn==19.9.0
html5lib==1.0.1
idna==2.8
oauthlib==3.1.0
pdfrw==0.4
pillow==7.0.0
pycparser==2.19
pyphen==0.9.5
python3-openid==3.1.0
pytz==2019.3
requests-oauthlib==1.3.0
requests==2.22.0
six==1.14.0
sqlparse==0.3.0
tablib==1.0.0
tinycss2==1.0.2
urllib3==1.25.8
weasyprint==0.42.3
webencodings==0.5.1
