{% extends "newswire/cp/__base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block title %}{{page.title}}{% endblock %}

{% block hero %}
    <header>
        <div class="inner text-center">
            <h2>{{page.header}}</h2>
            <p>{{page.description}}</p>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">
                <strong>Delete</strong>
            </h3>
            <div class="box-tools pull-right">
                <!-- Buttons, labels, and many other things can be placed here! -->
                <!-- Here is a label for example -->
                <span class="label label-primary">{{ OrderOfService.date }}</span>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <form method="post">{% csrf_token %}
            <div class="box-body">
                <p>Are you sure you want to delete "{{ object }}" ?</p>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a class="btn" href="javascript:history.go(-1)">Cancel</a>
                <input class="btn btn-default pull-right" style="background-color: #D07373;" type="submit" value="Delete"/>
            </div>
        </form>
    </div>
{% endblock %}
