{% extends "newswire/cp/__base.html" %}
{% load humanize %}
{% load staticfiles %}
{% block header_title %}Attendance List - Grace Baptist Ministries{% endblock %}
{% block content_header %}Attendance List{% endblock %}
{% block header_includes %}
    <link rel="stylesheet" href="{% static 'newswire/cp/plugins/datatables/jquery.dataTables.min.css' %}">
{% endblock %}
{% block content_sub_header %}
    <a style="margin-top: -0.8em;" href="{% url 'attendance_new' %}" type="button" class="btn btn-xs btn-primary">
        <i class="fa fa-plus"></i>
        Create New</a>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box ">
                <div class="box-header with-border">
                    <h3 class="box-title">Raw Data</h3>
                </div>
                <div class="box-body">
                    <table id="memberlist" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>English Congregation</th>
                                <th>Chinese Congregation</th>
                                <th>Children's Church</th>
                                <th>Preschoolers</th>
                                <th>Nursery</th>
                                <th>Notes</th>
                                <th>Submitter</th>
                                <th>Approver</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for attendance in object_list %}
                                <tr>
                                    <td>{{ attendance.date|date:"o-m-d" }}
                                        <a href="{%  url 'attendance_edit' attendance.id  %}">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a href="{%  url 'attendance_delete' attendance.id  %}">
                                            <i class="text-danger fa fa-trash"></i>
                                        </a>
                                    </td>
                                    <td>{{ attendance.english_congregation }}</td>
                                    <td>{{ attendance.chinese_congregation }}</td>
                                    <td>{{ attendance.childrens_church }}</td>
                                    <td>{{ attendance.preschoolers }}</td>
                                    <td>{{ attendance.nursery }}</td>
                                    <td>{{ attendance.notes }}</td>
                                    <td>{{ attendance.submitter }}</td>
                                    <td>{{ attendance.approver }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Date</th>
                                <th>English Congregation</th>
                                <th>Chinese Congregation</th>
                                <th>Children's Church</th>
                                <th>Preschoolers</th>
                                <th>Nursery</th>
                                <th>Notes</th>
                                <th>Submitter</th>
                                <th>Approver</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_includes %}
    <script>
        $(document).ready(function() {
            $('#memberlist').DataTable({
                "paging": true,
                "scrollX": true,
                "order": [3, 'desc']
            });
        });
    </script>
    <script src="{% static 'newswire/cp/plugins/datatables/jquery.dataTables.min.js' %}"></script>
{% endblock %}
