{% extends "newswire/cp/__base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block header_title %}Update Attendance - Grace Baptist Ministries{% endblock %}
{% block content_header %}Update Attendance{% endblock %}
{% block content_sub_header %}{% endblock %}

{% block header_includes %}
{% endblock %}

{% block content %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">
                <strong>Update Attendance</strong>
            </a>
        </h3>
        <div class="box-tools pull-right">
            <!-- Buttons, labels, and many other things can be placed here! -->
            <!-- Here is a label for example -->
            <span class="label label-primary"></span>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        {% crispy form %}
    </div>
    <!-- /.box-body -->
    <div class="box-footer"></div>
    <!-- box-footer -->
</div>
{% endblock %}

{% block footer_includes %}
<script src="{% static 'newswire/cp/js/bootstrap-colorpicker.min.js' %}"></script>
<script type='text/javascript' src="http://seiyria.com/bootstrap-slider/dependencies/js/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('.dateinput').datepicker({format: "yyyy-mm-dd"});
    });
</script>
{% endblock %}
