{% extends "newswire/cp/__base.html" %}
{% load newswire_extras %}
{% load humanize %}
{% load staticfiles %}
{% block header_title %}Dashboard - Grace Baptist Ministries{% endblock %}
{% block content_header %}Dashboard{% endblock %}
{% block content_sub_header %}Control Panel{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Action Required</h3>
                    <div class="box-tools pull-right">
                        <a href="javascript:void(0)" class="btn btn-sm">View Details</a>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <a href="{% url 'underreview_list' %}">
                                <strong>Announcements to Review
                                    {% if announcements_under_review_count %}
                                        <span class="pull-right label label-warning">
                                            {{announcements_under_review_count}}</span>
                                    {% else %}
                                        <span class="pull-right label label-success">
                                            0</span>
                                    {% endif %}
                                </strong>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'underreview_list' %}">
                                <strong>Attendance Records to Review
                                    {% if sunday_attendance_under_review_count %}
                                        <span class="pull-right label label-warning">
                                            {{sunday_attendance_under_review_count}}</span>
                                    {% else %}
                                        <span class="pull-right label label-success">
                                            0</span>
                                    {% endif %}
                                </strong>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'orderofservice_list' %}">
                                <strong>Order of Service for Sunday:
                                    {% if orderofservice_updated_or_not %}
                                        <span class="pull-right text-green">Updated</span>
                                    {% else %}
                                        <span class="pull-right text-red">Not Updated</span>
                                    {% endif %}
                                </strong>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'weeklyverse_list' %}">
                                <strong>Verse of the Week for Sunday:
                                    {% if weeklyverse_updated_or_not %}
                                        <span class="pull-right text-green">Updated</span>
                                    {% else %}
                                        <span class="pull-right text-red">Not Updated</span>
                                    {% endif %}
                                </strong>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="box-footer clearfix"></div>
            </div>
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Recent Sunday Attendance</h3>
                    <div class="box-tools pull-right">
                        <a href="{% url 'attendance_summary' %}" class="btn btn-sm">View Details</a>
                    </div>
                </div>
                <div class="box-body">
                    {% for attendance in recent_sunday_attendance %}
                        <p>
                            <strong>{{attendance.date|date:"d-m-o (D)"}}
                                <a href="{%  url 'attendance_edit' attendance.pk  %}">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </strong>
                            <ul>
                                <li>English Service:
                                    {{attendance.english_congregation|default_if_none:"0"|floatformat:"0"|intcomma}}</li>
                                <li>Chinese Service:
                                    {{attendance.chinese_congregation|default_if_none:"0"|floatformat:"0"|intcomma}}</li>
                                <li>Children's Church:
                                    {{attendance.childrens_church|default_if_none:"0"|floatformat:"0"|intcomma}}</li>
                                <li>Pre-Schoolers:
                                    {{attendance.preschoolers|default_if_none:"0"|floatformat:"0"|intcomma}}</li>
                                <li>Nursery:
                                    {{attendance.nursery|default_if_none:"0"|floatformat:"0"|intcomma}}</li>
                            </ul>
                        </p>
                    {% endfor %}
                </div>
            </div>
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Building Fund</h3>
                    <div class="box-tools pull-right">
                        <a href="javascript:void(0)" class="btn btn-sm">View Details</a>
                    </div>
                </div>
                <div class="box-body">
                    {% include "newswire/cp/includes/bulletin_building_fund.html" %}
                </div>
            </div>

            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Attendance</h3>
                    <div class="box-tools pull-right">
                        <a href="javascript:void(0)" class="btn btn-sm">View Details</a>
                    </div>
                </div>
                <div class="box-body">
                    {% include "newswire/cp/includes/bulletin_attendance.html" %}
                </div>
            </div>

            {% regroup signups by event as signup_list_by_event %}
            {% for event in signup_list_by_event %}
                <div class="box box-default collapsed-box">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <strong>RSVP for
                                {{ event.grouper.title }}</strong>
                        </h3>
                        <div class="box-tools pull-right">
                            <a href="javascript:void(0)" class="btn btn-sm">View Details</a>
                        </div>
                        <p>
                            <strong>{% format_date_range event.grouper.date_start event.grouper.date_end %}
                                &bull;
                                {{ event.list|length }}
                                Response{%if event.list|length < 1 %}s{%endif%}
                                    &bull; (

                                    {% regroup event.list by get_rsvp_display as event_list_by_rsvp %}
                                    {% for rsvp in event_list_by_rsvp %}
                                        <span>{{ rsvp.list|length }}
                                            {{ rsvp.grouper }}
                                            {% if not forloop.last %},
                                            {% endif %}
                                        </span>
                                    {% endfor %}

                                    )</strong>

                            </p>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        {% regroup event.list by get_rsvp_display as event_list_by_rsvp %}
                        <div class="box-body">
                            {% for rsvp in event_list_by_rsvp %}
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th class="text-center">{{ rsvp.grouper }}
                                                ({{ rsvp.list|length }})</th>
                                        </tr>
                                        {% for item in rsvp.list %}
                                            <tr>
                                                <td>
                                                    {{ item.user.last_name }}
                                                    {{ item.user.first_name }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <br/>
                                <br/>
                                <br/>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- /.col -->

            <div class="col-md-6">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Order of Service</h3>
                        <div class="box-tools pull-right">
                            <a href="{%  url 'orderofservice_list' %}" class="btn btn-sm">View Details</a>
                        </div>
                    </div>
                    <div class="box-body">
                        {% include "newswire/cp/includes/bulletin_oos.html" %}
                    </div>
                </div>
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Active Annoucements</h3>
                        <div class="box-tools pull-right">
                            <a href="{%  url 'announcement_list' %}" class="btn btn-sm">View Details</a>
                        </div>
                    </div>
                    <div class="box-body">
                        {% include "newswire/cp/includes/bulletin_announcements.html" %}
                    </div>
                </div>
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Upcoming Events</h3>
                        <div class="box-tools pull-right">
                            <a href="{%  url 'event_list' %}" class="btn btn-sm">View Details</a>
                        </div>
                    </div>
                    <div class="box-body">
                        {% include "newswire/cp/includes/bulletin_events.html" %}
                    </div>
                </div>

                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Upcoming Birthdays</h3>
                    </div>
                    <div class="box-body">
                        {% include "newswire/cp/includes/bulletin_birthdays.html" %}
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
    {% endblock %}
