{% extends "newswire/cp/__base.html" %}
{% load newswire_extras %}
{% load humanize %}
{% block header_title %}Under Review - Grace Baptist Ministries{% endblock %}
{% block content_header %}Under Review{% endblock %}
{% block content_sub_header %}{% endblock %}

{% block header_includes %}{% endblock %}

{% block content %}
    <div class="box box-default collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title">How this works</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body" style="display: none;"></div>
        <!-- /.box-body -->
    </div>

    <h3>Announcenments</h3>
    {% if not announcements_under_review %}
        <div class="box">
            <div class="box-header with-border">
                <p>
                    <em>No Announcements for Review</em>
                </p>
            </div>
        </div>
    {% endif %}
    {% for announcement in announcements_under_review %}
        <div class="box" id="announcement-{{ announcement.id }}">
            <div class="box-header with-border">
                <h3 class="box-title">
                    <strong>{{ announcement.title }}</strong>
                    <a href="{% url 'announcement_edit' announcement.id %}" id="approved-label-{{announcement.id}}" class="label bg-green hidden">Approved</a>
                </h3>
                <!-- Buttons, labels, and many other things can be placed here! -->
                <!-- Here is a label for example -->
                <div class="box-tools pull-right">
                    <a href="{% url 'announcement_edit' announcement.id %}">
                        <i class="fa fa-pencil"></i>
                        Edit
                    </a>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body" id="announcement-box-body-{{announcement.id}}">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="text-right col-xs-6">
                                <strong>
                                    Title:
                                </strong>
                            </td>
                            <td class="text-left col-xs-6">
                                {{ announcement.title }}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right col-xs-6">
                                <strong>
                                    Text:
                                </strong>
                            </td>
                            <td class="text-left col-xs-6">{{ announcement.body }}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right col-xs-6">
                                <strong>
                                    Display Dates:
                                </strong>
                            </td>
                            <td class="text-left col-xs-6">
                                {% format_date_range announcement.publish_start_date announcement.publish_end_date %}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right col-xs-6">
                                <strong>
                                    Submitted by:
                                </strong>
                            </td>
                            <td class="text-left col-xs-6">
                                {{ announcement.submitter }}
                            </td>
                        </tr>
                        {% if announcement.approver %}
                            <tr>
                                <td class="text-right col-xs-6">
                                    <strong>
                                        Approved by:
                                    </strong>
                                </td>
                                <td class="text-left col-xs-6">
                                    {{ announcement.approver|default:'Not yet approved' }}
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer" id="announcement-box-footer-{{announcement.id}}">
                <form action="{% url 'underreview_list' %}" method="POST" id="approve-announcement-form">
                    {% csrf_token %}
                    <button id="approve-announcement-{{announcement.pk}}" form="approve-announcement-form" type="submit" value="approve-announcement-{{announcement.pk}}" form="approve-form" class="btn btn-primary pull-left">Approve</button>
                </form>
                <div class="pull-right">
                    <a class="btn text-danger pull-right" href="{% url 'announcement_delete' announcement.id %}">
                        <i class="fa fa-trash"></i>
                        Delete
                    </a>
                </div>
            </div>
            <!-- box-footer -->
        </div>
    {% endfor %}

    <h3>Attendance</h3>
    {% if not sunday_attendance_under_review %}
        <div class="box">
            <div class="box-header with-border">
                <p>
                    <em>No Attendance Records for Review</em>
                </p>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-xs-12">
            {% for attendance in sunday_attendance_under_review %}
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <strong>{{ attendance.date }}</strong>
                            <a href="{% url 'attendance_edit' attendance.id %}" id="approved-label-{{attendance.id}}" class="label bg-green hidden">Approved</a>
                        </h3>
                        <!-- Buttons, labels, and many other things can be placed here! -->
                        <!-- Here is a label for example -->
                        <div class="box-tools pull-right">
                            <a href="{% url 'attendance_edit' attendance.id %}">
                                <i class="fa fa-pencil"></i>
                                Edit
                            </a>
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" id="attendance-box-body-{{attendance.id}}">
                        <p>
                            <strong>{{attendance.date|date:"d-m-o (D)"}}
                                <a href="{%  url 'attendance_edit' attendance.pk  %}">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </strong>
                            <ul>
                                <li>English Service:
                                    {{attendance.english_congregation|default_if_none:"0"|floatformat:"0"|intcomma}}</li>
                                <li>Chinese Service:
                                    {{attendance.chinese_congregation|default_if_none:"0"|floatformat:"0"|intcomma}}</li>
                                <li>Children's Church:
                                    {{attendance.childrens_church|default_if_none:"0"|floatformat:"0"|intcomma}}</li>
                                <li>Pre-Schoolers:
                                    {{attendance.preschoolers|default_if_none:"0"|floatformat:"0"|intcomma}}</li>
                                <li>Nursery:
                                    {{attendance.nursery|default_if_none:"0"|floatformat:"0"|intcomma}}</li>
                            </ul>
                            {% if attendance.submitter %}
                                <p>
                                    <strong>Submitted by:</strong>
                                    {{attendance.submitter}}</p>
                            {% endif %}
                            {% if attendance.approver %}
                                <p>
                                    <strong>Approved by:</strong>
                                    {{attendance.approver}}</p>
                            {% endif %}
                            <p>Notes:
                                {{attendance.notes|default_if_none:""}}</p>
                        </p>
                    </div>
                    <div class="box-footer" id="attendance-box-footer-{{attendance.id}}">
                        <form action="{% url 'underreview_list' %}" method="POST" id="approve-attendance-form">
                            {% csrf_token %}
                            <button id="approve-attendance-{{attendance.pk}}" form="approve-attendance-form" type="submit" value="approve-attendance-{{attendance.pk}}" form="approve-form" class="btn btn-primary pull-left">Approve</button>
                        </form>
                        <div class="pull-right">
                            <a class="btn text-danger pull-right" href="{% url 'attendance_delete' attendance.id %}">
                                <i class="fa fa-trash"></i>
                                Delete
                            </a>
                        </div>
                    </div>
                    <!-- box-footer -->
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block footer_includes %}{% endblock %}
