{% extends "newswire/__base.html" %}


{% block bootstrap3_content_header %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.css">
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header">
  <div>
    <div class="container">
      <div style="height: 60px;" class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"></div>
      </div>
    </div>
  </div>
</header>
{% endblock %}
